body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    padding: 10px;
    background-color: #914719;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    font-size: 25px;
    font-size: larger;
}
h1 {
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#order-form {
    margin-bottom: 20px;
}

#order-form input {
    padding: 5px;
    margin-right: 10px;
}
#result {
    margin-top: 20px;
}